Source: org.gnome.epiphany
Section: x11
Priority: optional
Maintainer: elementary Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/browser

Package: org.gnome.epiphany
Architecture: any
Depends: flatpak, ${misc:Depends}
Description: Epiphany flatpak'd for elementary OS
 Epiphany (aka GNOME Web) Flatpak'd for elementary OS
